services:
  blog:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:3000:3000"
    environment:
      - NODE_ENV=production
      - POSTS_DIRECTORY=/app/posts
    volumes:
      - ./app/posts:/app/posts:Z
    restart: unless-stopped