@import "tailwindcss";

:root {
  color-scheme: dark;
  --background: #0b0b0b;
  --foreground: #ffffff;
  --grid-lines: rgb(35, 35, 35);
}

html,
body {
  padding: 0;
  margin: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
}
